* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b);
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 20px auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.todo-app h2 {
    color: rgb(19, 18, 16);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: none; 
    padding: 10px;
    border-radius: 5px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;
}

button:hover {
    background: #e04a36;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background: #fff; 
    border-radius: 10px;
    margin: 5px 0;
    transition: 0.3s ease-in-out;
}

ul li:hover {
    transform: scale(1.02);
    background: #f3f3f3;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(checked.png);
}

ul li span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #555;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
}

ul li span:hover {
    background: #ff5945;
    color: white;
}
